:root {
    --black: hsla(0, 0%, 0%, 1);
    --gray1: hsla(0, 0%, 20%, 1);
    --gray2: hsla(0, 0%, 31%, 1);
    --gray3: hsla(0, 0%, 51%, 1);
    --gray4: hsla(0, 0%, 74%, 1);
    --orange: hsla(28, 87%, 62%, 1);
    --white: hsla(0, 100%, 100%, 1);
    --ff-PlayfairDisplay: 'Playfair Display', serif;
    --ff-Montserrat: 'Montserrat', sans-serif;
    --fw-400: 400;
    --fw-500: 500;
    --fw-700: 700;
    --fs-normal: normal;
    --fs-italic: italic;
}

/* Header Section */

h1 {
    width: 587px;
    height: 64px;
    font-family: var(--ff-PlayfairDisplay);
    font-style: var(--fs-normal);
    font-weight: var(--fw-700);
    font-size: 48px;
    line-height: 64px;
}

.description {
    width: 592px;
    height: 51px;
    font-family: var(--ff-Montserrat);
    font-style: var(--fs-italic);
    font-weight: var(--fw-500);
    font-size: 14px;
    line-height: 17px;
    color: var(--gray2);
}

.cheesecake-img {
    width: 969px;
    height: 470px;
    top: 193px;
    left: 234px;
    border-radius: 12px;
}

/* Ingredients Section */
.ingredient-instructions {
    width: 580px;
}

h2 {
    height: 32px;
    font-family: var(--ff-PlayfairDisplay);
    font-style: var(--fs-normal);
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: var(--gray1);
}

h3 {
    height: 24px;
    font-family: var(--ff-PlayfairDisplay);
    font-style: var(--fs-italic);
    font-weight: var(--fw-400);
    font-size: 18px;
    line-height: 24px;
    color: var(--gray1);
}

ul {
    list-style-type: none;
    margin-left: -40px;
    font-family: var(--ff-Montserrat);
    font-style: var(--fs-normal);
    font-weight: var(--fw-400);
    font-size: 16px;
    line-height: 25px;
    color: var(--gray1);
}

li {
    margin-bottom: 10px;
}

input.check {
    width: 21px;
    height: 21px;
    color: var(--gray3);
}

/* Recipe Info Section */
h6 {
    height: 12px;
    font-family: var(--ff-Montserrat);
    font-style: var(--fs-normal);
    font-weight: var(--fw-700);
    font-size: 10px;
    line-height: 12px;
    color: var(--gray4);
}

p {
    height: 17px;
    font-family: var(--ff-Montserrat);
    font-style: var(--fs-normal);
    font-weight: var(--fw-500);
    font-size: 14px;
    line-height: 17px;
    color: var(--gray1);
}

/* Instructions Section */
.instructions-container {
    width: 580px;
    padding: 10px 0;
}

b {
    color: var(--black);
}

ol {
    width: 528px;
    font-family: var(--ff-Montserrat);
    font-style: var(--fs-normal);
    font-size: 16px;
    line-height: 150%;
    color: var(--gray1);
}

.source {
    font-family: var(--ff-Montserrat);
    font-style: var(--fs-italic);
    font-weight: var(--fw-400);
    font-size: 16px;
    line-height: 150%;
    color: var(--gray4);
}